body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user-form {
  width: 100%;
  height: 50vh;
  position: relative;
  bottom: 100%;
  overflow: auto;
border: 100px;

}

.single-card{
  /* height: 50px !important; */
  width: 300px !important;
  max-height: 80px !important;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: static;
  height: 50vh;
  overflow-y: auto;
}
.trash-icon{
  
  left: 90%;
  position: absolute;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  margin-top: 10px;
}
